@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Aurora.Models.CreateRoomViewModel

<div class="row no-gutters">
    <div class="col-md-5 p-5 bg-white full-height">
        <div class="login-main-left">
            <div class="text-center mb-5 login-main-left-header pt-4">
                <img src="img/favicon.png" class="img-fluid" alt="LOGO">
                <h5 class="mt-3 mb-3">Welcome to John Doe Hotel</h5>
                <p>It is a long established fact that a reader <br> will be distracted by the readable.</p>
            </div>
@using (Html.BeginForm("Create", "Room", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Number)
        @Html.TextBoxFor(m => m.Number, new { @class = "form-control", type = "number", required="required" })
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-outline-primary btn-block btn-lg">Create Room</button>
        </div>
}

    </div>
    </div>
    <div class="col-md-7">
        <div class="login-main-right bg-white p-5 mt-5 mb-5">
            <div class="owl-carousel owl-carousel-login">
                <div class="item">
                    <div class="carousel-login-card text-center">
                        <img src="img/login.png" class="img-fluid" alt="LOGO">
                        <h5 class="mt-5 mb-3">​Watch videos offline</h5>
                        <p class="mb-4">when an unknown printer took a galley of type and scrambled<br> it to make a type specimen book. It has survived not <br>only five centuries</p>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-login-card text-center">
                        <img src="img/login.png" class="img-fluid" alt="LOGO">
                        <h5 class="mt-5 mb-3">Download videos effortlessly</h5>
                        <p class="mb-4">when an unknown printer took a galley of type and scrambled<br> it to make a type specimen book. It has survived not <br>only five centuries</p>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-login-card text-center">
                        <img src="img/login.png" class="img-fluid" alt="LOGO">
                        <h5 class="mt-5 mb-3">Create GIFs</h5>
                        <p class="mb-4">when an unknown printer took a galley of type and scrambled<br> it to make a type specimen book. It has survived not <br>only five centuries</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>